<html lang="it">
    <head>
        <title>Pagina di prova</title>
    </head>
    <body>
        <h2>Ciao, l'ID corrisponde alla squadra: {{squadra.Valore}}</h2>

        {{#equal squadra.idTest 1}}
            <img src="{{absoluteUrl}}/img/kvara.gif">
        {{/equal}}
    </body>
</html>
